/*Objetos*/

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.palco {
	border: 1px solid red;
	background-color: #999;
	height: 100%;
	position: relative;
	z-index: 0;
	margin: 0;
	padding: 0;
}

.palco .mostruario {
	outline: 2px solid #000;
	width: 50vw;
	height: 30vw;
	margin: 0 auto;
	position: relative;
}

.palco .mostruario h2 {
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
}

.palco .moto {
	width: 40vw;
	height: 20vw;
	border: 1px solid;
	position: absolute;
	bottom: 15%;
	z-index: 2;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.palco .moto .banco {
	background: #3c3c3c;
	height: 3vw;
	width: 10.5vw;
	position: absolute;
	top: 8.5vw;
	left: 6.6vw;
	z-index: 4;
	transform: rotate(8deg);
	border-radius: 5px 5px 10px 20px;
}

.palco .moto .garfo {
	background: #ccc;
	width: 1.2vw;
	height: 11vw;
	transform: rotate(-25deg);
	left: 27.5vw;
	top: 6vw;
	position: absolute;
	z-index: 4;
}

.palco .moto .guidon {
	background: #000;
	width: 1em;
	height: 0.5em;
	margin-left: -8px;
	margin-top: -7px;
	border-radius: 10px 0 0 10px;
}

.palco .moto .tanque {
	width: 9.5vw;
	height: 4.5vw;
	background-color: yellow;
	position: absolute;
	bottom: 0%;
	z-index: 3;
	left: 17.5vw;
	top: 7.2vw;
	border-radius: 25px 10px 20px 5px;
}

.palco .moto .cano {
	border-right: 2px solid #585858;
	border-bottom: 7px solid #585858;
	border-radius: 0 0 10px 0;
	width: 16vw;
	height: 3.3vw;
	position: absolute;
	top: 12vw;
	left: 9vw;
	z-index: 4;
}

.palco .moto .motor {
	background: #ccc;
	height: 3vw;
	width: 8.5vw;
	position: absolute;
	top: 12vw;
	left: 16vw;
	border-radius: 10px 5px;
}

.palco .moto .pneu-traseiro {
	background: #a8a8a8;
	height: 4.5vw;
	width: 4.5vw;
	border-radius: 5vw;
	position: absolute;
	bottom: 0;
	left: 7vw;
	border: 2vw solid #000;
}

.palco .moto .pneu-dianteiro {
	background: #a8a8a8;
	height: 4.5vw;
	width: 4.5vw;
	border-radius: 25vw;
	position: absolute;
	bottom: 0;
	left: 26.5vw;
	border: 1.5vw solid #000;
}

.palco .moto .farol {
	background: #fffb83;
	height: 3vw;
	width: 2vw;
	position: absolute;
	top: 6.9vw;
	left: 27vw;
	border-radius: 1vw;
	cursor: pointer;
}

.palco .moto .farol.aceso::after{
	content: '';
	height: 0.5em;
	width: 0em;
	display: block;
	border-bottom: 20px solid transparent;
	border-top: 5px solid transparent;
	border-right: 5em solid rgba(255, 251, 131, 0.55);
	margin-top: -2px;
}

.palco .moto .farol .tampa {
	background: grey;
	width: 1vw;
	position: absolute;
	height: 3vw;
	z-index: 3;
}