#palco{
	outline: 1px solid red;
	background-color: #ccc;
	height: -webkit-fill-available;
	position: relative;
}

#palco #junin{
	width: 3em;
	height: 5em;
	background-color: green;
	position: absolute;
	bottom: 0;
	left: 0;
}