/*Objetos*/

html,body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#palco{
	outline: 1px solid red;
	background-color: #ccc;
	height: 100%;
	position: relative;
	z-index: 0;
}

#palco #junin{
	width: 3em;
	height: 5em;
	background-color: green;
	position: absolute;
	bottom: 70px;
	z-index: 2;
	left: 0;
}

#palco #rua{
	background: #333;
	height:30%;
	position: absolute;
	bottom: 60px;
	z-index: 1;
	width: 100%;
}